body {
    background: linear-gradient(to right, skyblue, rgba(41, 222, 41, 0.913));
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.box {
    background-color: #00011F;
    margin: auto;
    width: 90%;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.inner {
    display: grid;
    height: auto;
    padding: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 5px;
}

.inner>* {
    height: 50px;
    font-size: 24px;
    color: white;
    width: 50px;
    border: none;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.inner>*:hover {
    background: #222;
}

.back, .clear {
    color: red;
}

.equal {
    color: rgb(25, 190, 25);
}

.result {
    background-color: #2E5090;
    height: auto;
    color: whitesmoke;
    word-wrap: break-word;
    text-align: end;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 24px;
}

button {
    background: #00011F;
    border: none;
    cursor: pointer;
    outline: none;
    transition: color 0.3s;
}

button:hover {
    color: aqua;
}

.multiply, .divide, .plus, .minus {
    color: yellow;
}

/* Additional Styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

